.greetings {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  width: 1440px;
  justify-content: left;
}
.text {
  padding: 93px 0px 88px 80px;
  display: flex;
  text-align: left;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 500;
  font-size: calc(48px + 76 * (100vw / 1440));
  line-height: 148px;
  color: #ffffff;
  justify-content: left;
}
@media (min-width: 1440px) {
  .text {
    font-size: 124px;
  }
}
