.account {
  display: flex;
  width: 100%;
  min-height: 66px;
  border-bottom: 1px dashed rgba(224, 224, 224, 1);
  box-sizing: border-box;
  align-items: center;
  &:last-child {
    border: 0;
  }
}
.accountGroup,
.info,
.status {
  display: flex;
  box-sizing: border-box;
}
.accountGroup {
  min-width: 209px;
  width: 28.5%;
  padding-left: 16px;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #464e5f;
  > img {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 8px;
    object-fit: cover;
  }
}

.info {
  min-width: 500px;
  padding: 19px 50px 19px 0;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #464e5f;
}
.status {
  width: 15.5%;
  padding-right: 24px;
  > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 138px;
    height: 34px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    &[data-style='studies'] {
      background-color: rgba(240, 249, 237, 1);
      color: rgba(97, 191, 74, 1);
    }
    &[data-style='Закончил'] {
      background-color: rgba(245, 245, 245, 1);
      color: #8a8a8a;
    }
    &[data-style='Отчислен'] {
      background-color: rgba(253, 238, 238, 1);
      color: rgba(235, 87, 87, 1);
    }
  }
}

@media (min-width: 921px) {
  .account {
    min-height: 88px;
  }
  .accountGroup {
    padding-left: 24px;
    font-size: 14px;
    line-height: 17px;
    > img {
      width: 40px;
      height: 40px;
      margin-right: 12px;
    }
  }

  .info {
    width: 56%;
    overflow: hidden;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #464e5f;
  }
  .status {
    width: 15.5%;
    padding-right: 24px;
  }
}
