.accountCont {
  display: flex;
  justify-content: center;
  width: calc(100% - 16px);
  padding: 0px 0px 57px 16px;
}
.wrap {
  display: flex;
  flex-direction: column;
}
.accountImg {
  display: flex;
  width: 100%;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.img {
  width: 100%;
}
.accountInfo {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  width: calc(100% - 48px);
  background-color: #ffffff;
  border-radius: 2px;
  padding: 16px;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
}
.name {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #585cc6;
}
.date {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #8a8a8a;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.field {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-right: 24px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.aboutMe {
  margin-top: 16px;
  width: 100%;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}
.pet {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

@media (min-width: 921px) {
  .accountCont {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .wrap {
    display: flex;
    width: 1440px;
    justify-content: center;
    flex-direction: row;
  }
  .accountImg {
    width: calc(36% - 40px);
    height: 383px;
    margin-top: 32px;
    border-radius: 2px;
  }
  .img {
    max-width: 100%;
    object-fit: cover;
  }

  .accountInfo {
    display: flex;
    flex-direction: column;
    max-width: calc(52% - 40px);
    max-height: 303px;
    background-color: #ffffff;
    border-radius: 2px;
    padding: 40px;
    justify-content: space-between;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .name {
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #585cc6;
  }
  .date {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #8a8a8a;
  }
  .info {
    display: flex;
    flex-wrap: wrap;
  }
  .field {
    display: flex;
    align-items: center;

    margin-right: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
  .aboutMe {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
  }
}
