.carouselCont {
  display: flex;
  min-width: 304px;
  padding: 0px 0px 82px 0px;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 16px);
}
.carousel {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 20px 15px 48px 17px;
  background-color: #ffffff;
}
.carouselHeader {
  display: flex;
  width: 100%;
  height: 42px;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #333333;
}
.addCommentBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 0;
  background-image: url('./img/plus.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #585cc6;
  border-radius: 2px;
}
.addCommentBtn:hover {
  background-color: #797ddf;
}
.commentWindow {
  display: flex;
  overflow: auto;
  margin-top: 21px;
  width: 100%;
  transform: translateX();
}
.allCommentsCont {
  display: flex;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.groupBtns {
  display: none;
  width: 70px;
  height: 30px;
  justify-content: space-between;
  align-self: center;
}
.carouselBtnActive {
  display: none;
}

.carouselBtnDisable {
  display: none;
}

@media (min-width: 921px) {
  .carouselCont {
    justify-content: center;
    padding: 0;
  }
  .wrap {
    max-width: 1440px;
    width: 100%;
    margin-top: 120px;
    margin-bottom: 106px;
    flex-direction: row;
  }
  .carousel {
    box-sizing: border-box;
    justify-content: space-between;
    width: 83%;
    padding: 56px 56px 64px 80px;
  }
  .carouselHeader {
    max-width: 100%;
    padding-bottom: 38px;
  }
  .text {
    font-size: 68px;
    line-height: 88px;
  }
  .addCommentBtn {
    width: 220px;
    height: 52px;
    background-position: left 30px top 18px;
    position: relative;
  }
  .addCommentBtn::after {
    content: 'Добавить отзыв';
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    position: absolute;
    left: 56px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
  }

  .commentWindow {
    max-width: 1062px;
    transform: translateX();
  }

  .groupBtns {
    display: flex;
    width: 128px;
    height: 56px;
    align-self: end;
    margin-left: 34px;
  }
  .carouselBtnActiveLeft,
  .carouselBtnDisLeft,
  .carouselBtnActiveRight,
  .carouselBtnDisRight {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 2px;
    background-image: url('./img/Property 1=Default left.png');
    border: 0;
  }
  .carouselBtnActiveLeft:hover {
    background-image: url('./img/Property 1=Hover left.png');
  }

  .carouselBtnDisLeft {
    background-image: url('./img/Property 1=Disabled left.png');
  }

  .carouselBtnActiveRight {
    background-image: url('./img/Property 1=Default.png');
  }

  .carouselBtnActiveRight:hover {
    background-image: url('./img/Property 1=Hover.png');
  }

  .carouselBtnDisRight {
    background-image: url('./img/Property 1=Disabled.png');
  }
}
