.accountCont {
  display: flex;
  justify-content: center;
}
.wrap {
  display: flex;
  width: 1440px;
  justify-content: center;
}
.accountImg {
  width: calc(36% - 40px);
  height: 383px;
  margin-top: 32px;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.accountInfo {
  display: flex;
  flex-direction: column;
  max-width: calc(52% - 40px);
  max-height: 303px;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 40px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.name {
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #585cc6;
}
.date {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8a8a8a;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.field {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-right: 40px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.aboutMe {
  margin-top: 18px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
