.form {
  display: flex;
  width: 288px;
  height: 386px;
  border-radius: 2px;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form > p {
  display: flex;
  margin-top: 16px;
  margin-bottom: 0px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.form > input {
  width: 256px;
  height: 52px;
  border: 1px #e0e0e0 solid;
  box-sizing: border-box;
  border-radius: 2px;
  outline: none;
  padding-left: 12px;
  box-sizing: border-box;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}

.form > input::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
}

.form > label {
  display: flex;
  margin-top: 32px;
  align-self: flex-start;
  margin-left: 16px;
  font-family: 'Factor A';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.0124em;
  color: #333333;
}
.form > label:first-child {
  margin-top: 24px;
}

.password {
  display: flex;
  width: 256px;
  height: 52px;
  border: 1px #e0e0e0 solid;
  box-sizing: border-box;
  padding: 0px 18px 0px 11px;
  border-radius: 2px;
  align-items: center;
}

.password > input {
  outline: none;
  border: none;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2em;
  color: #333333;
  flex: 1;
}

.password > input::placeholder {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8a8a8a;
}

.password > div > img {
  display: flex;
  width: 19px;
  height: 15px;
  position: relative;
}

.open {
  display: flex;
  position: relative;
  width: 25px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.open::after {
  content: '';
  display: flex;
  position: relative;
  width: 5px;
  height: 5px;
  border: 2px solid #585cc6;
  border-radius: 50%;
  right: -9px;
  top: 5px;
}

.hidden {
  display: flex;
  position: relative;
  width: 25px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden::after {
  content: '';
  display: flex;
  position: relative;
  width: 5px;
  height: 5px;
  border: 2px solid #585cc6;
  border-radius: 50%;
  right: -7px;
  top: 5px;
}

.hidden::before {
  content: '';
  display: flex;
  height: 27px;
  position: relative;
  border: 1px solid #585cc6;
  top: -5px;
  right: -12px;
  transform: rotate(45deg);
}

.enable {
  display: flex;
  width: 256px;
  height: 42px;
  background: #585cc6;
  border-radius: 2px;
  border: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 16px;
}

.disable {
  display: flex;
  width: 256px;
  height: 42px;
  background: #8a8a8a;
  border-radius: 2px;
  border: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 16px;
}

.form > a {
  display: flex;
  margin-bottom: 16px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #585cc6;
}

.error {
  display: flex;
  width: 18px;
  height: 18px;
  border: 2px solid #fb8f8f;
  border-radius: 5px;
  margin-left: 18px;
  position: relative;
  justify-content: center;
  align-items: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #fb8f8f;
}

.error:hover::after {
  content: attr(data-title);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 2px;
  background-color: #f5f5f5;
  position: absolute;
  right: -10px;
  top: -50px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #333333;
}

@media (min-width: 821px) {
  .form {
    width: 628px;
    height: 436px;
    border-radius: 2px;
    background-color: #ffffff;
  }

  .form > p {
    margin-top: 40px;
    font-size: 32px;
  }

  .form > input {
    width: 548px;
    height: 52px;
  }
  .password {
    width: 548px;
    height: 52px;
  }

  .form > label {
    margin-left: 40px;
  }
  .form > label:first-child {
    margin-top: 32px;
  }

  .enable {
    width: 108px;
    height: 52px;
    font-size: 18px;
  }

  .disable {
    width: 108px;
    height: 52px;
    font-size: 18px;
  }

  .form > p:last-child {
    margin-top: 16px;
    margin-bottom: 24px;
  }
}
