.layer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  .editWindow {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 476px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 16px;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    .header {
      display: flex;
      width: 100%;
      height: 52px;
      justify-content: space-between;
      align-items: flex-start;
      box-sizing: border-box;
      margin-bottom: 20px;
      > p {
        display: flex;
        width: 167px;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      > a {
        display: flex;
        width: 20px;
        height: 20px;
        background-image: url('./img/Vector.png');
        border: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffffff;
      }
    }
    > label {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 8px;
    }
    .length {
      height: 222px;
      margin-bottom: 32px;
      position: relative;
      > textarea {
        width: 100%;
        height: 222px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 2px;
        word-wrap: break-word;
        resize: none;
        padding: 12px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        outline: none;
        margin-bottom: 32px;
      }
      &::after {
        content: attr(data-length);
        display: flex;
        width: 38px;
        height: 14px;
        position: absolute;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: right;
        color: #8a8a8a;
        bottom: 0px;
        left: 210px;
      }
    }
    .footer {
      display: flex;
      height: 42px;
      flex-wrap: wrap;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #ffffff;
        background: #585cc6;
        border-radius: 2px;
        margin-bottom: 8px;
        &:last-child {
          background: #eb5757;
        }
      }
      .disabled {
        pointer-events: none;
      }
    }
  }
}
@media (min-width: 921px) {
  .layer {
    .editWindow {
      width: 676px;
      height: 325px;
      padding: 24px;
      .header {
        height: 28px;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
        > p {
          width: auto;
        }
      }
      .length {
        height: 105px;
        margin-bottom: 40px;
        &::after {
          bottom: 0px;
          right: 0px;
          left: 580px;
        }
        > textarea {
          height: 105px;
        }
      }
      > label {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 12px;
      }
      .footer {
        height: 52px;
        > a {
          width: 319px;
          margin-right: 12px;
          font-size: 18px;
          &:last-child {
            width: 123px;
          }
        }
      }
    }
  }
}
