.layer {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  .editWindow {
    display: flex;
    flex-direction: column;
    width: 288px;
    height: 476px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 16px;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    .header {
      display: flex;
      width: 100%;
      height: 52px;
      justify-content: space-between;
      align-items: flex-start;
      box-sizing: border-box;
      margin-bottom: 20px;
      > p {
        display: flex;
        width: 167px;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      > button {
        display: flex;
        width: 20px;
        height: 20px;
        background-image: url('./img/Vector.png');
        border: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffffff;
      }
    }
    > label {
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 18px;
    }
    .length {
      > textarea {
        width: 100%;
        height: 222px;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 2px;
        word-wrap: break-word;
        resize: none;
        padding: 12px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        outline: none;
        margin-bottom: 32px;
        position: relative;
      }
      &::after {
        content: attr(data-length);
        display: flex;
        width: 38px;
        height: 14px;
        position: relative;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 14px;
        text-align: right;
        color: #8a8a8a;
        bottom: 56px;
        left: 210px;
      }
    }
  }
}
