.App {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #585cc6;
}
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

@media (min-width: 821px) {
  .container {
    max-width: 1440px;
  }
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
    url('../shared/fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../shared/fonts/Gilroy-Semibold.woff') format('woff'),
    url('../shared/fonts/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../shared/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../shared/fonts/Gilroy-Regular.woff') format('woff'),
    url('../shared/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Factor A';
  src: local('Factor A Medium'), local('Factor-A-Medium'),
    url('../shared/fonts/FactorAMedium-Regular.woff2') format('woff2'),
    url('../shared/fonts/FactorAMedium-Regular.woff') format('woff'),
    url('../shared/fonts/FactorAMedium-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Factor A';
  src: local('Factor A Bold'), local('Factor-A-Bold'),
    url('../shared/fonts/FactorA-Bold.woff2') format('woff2'),
    url('../shared/fonts/FactorA-Bold.woff') format('woff'),
    url('../shared/fonts/FactorA-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
