@media (max-width: 820px) {
  .cont {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }

  .commentForm {
    display: flex;
    flex-direction: column;
    width: 626px;
    height: 396px;
    background-color: #ffffff;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .label {
    display: flex;
    align-self: flex-start;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
  }
  .nameInput {
    display: flex;
    height: 50px;
    width: 393px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    outline: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    outline: none;
  }
  .nameInput::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8a8a8a;
  }

  .text {
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
  }

  .name_file {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .addPhotoBtn {
    display: flex;
    height: 52px;
    width: 217px;
    background-color: #585cc6;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border: 0;
    outline: none;
  }
  .addPfotoBtn:hover {
    background-color: #797ddf;
  }

  .commentText {
    display: flex;
    height: 103px;
    width: 626px;
    resize: none;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    outline: none;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
  }

  .commentText::placeholder {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #8a8a8a;
  }

  .footer {
    display: flex;
    width: 100%;
    height: 52px;
    align-items: center;
  }
  .addCommentBtnActive {
    display: flex;
    height: 52px;
    width: 217px;
    background-color: #585cc6;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    border: 0;
  }

  .addCommentBtnActive:hover {
    background-color: #797ddf;
  }

  .textFooter {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #8a8a8a;
  }
  .error {
    border: 1px solid red;
  }
}
