.header {
  display: flex;
  background-color: #ffffff;
  height: 116px;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  width: 1440px;
  border: yellowgreen solid 1px;
  justify-content: center;
}
.headerGroup {
  display: flex;
  width: calc(100% - 160px);
  height: 52px;
  justify-content: space-between;
}
.accountGroup {
  display: flex;
}
.avatar {
  height: 52px;
  width: 52px;
  background-color: blueviolet;
}
.accountName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.academyName {
  display: flex;
  width: 85px;
}
.headerButton {
  display: flex;
  width: 198px;
  background-color: #585cc6;
  justify-content: center;
  align-items: center;
  border: 0px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
