.footer {
  display: flex;
  height: 64px;
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}
.wrap {
  display: flex;
  width: 1440px;
  justify-content: space-between;
  padding: 0px 80px 0px 80px;
}
.text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8a8a8a;
}
.contactsGroup {
  display: flex;
  height: 24px;
  width: 104px;
  justify-content: space-between;
}
