@media (max-width: 820px) {
  .footer {
    display: flex;
    height: 54px;
    min-width: 320px;
    background-color: #f5f5f5;
    justify-content: center;
    padding: 12px 0px 18px 0px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .text {
    display: flex;
    font-family: 'Factor A';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
  }
  .contactsGroup {
    display: flex;
    height: 20px;
    width: 100px;
    justify-content: space-between;
  }
}
